* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}   
#nav{
    display: flex;
    background-color: rgba(37, 37, 117, 0.616);
}
.logo{
    display: flex;
    color: rgb(255, 255, 255);
    /* margin: 50px; */
    margin-left: 280px;
    margin-top: 50px;
    padding: 50px;
    /* corta a altura do babado */
    height: 50px;

}
body{
    background-color: rgb(59, 59, 128);

}
.pai {
    display: flex;
    align-items: end;
    justify-content: end;
}

